<html>
<head>
	<title>Current Event</title>
</head>
<body>
<h1>Current Event</h1>
<% if @event %>
Name: <strong><%= @event.name %></strong><br />
Date: <%= @event.date %>
<% else %>
No current event.
<% end %>
<%= link_to "Set current event", new_current_event_url %><br />
<% if @event %>
<%= button_to "Remove event", @current_event, :method=>:delete, :class=>:destroy %>
<% end %>
</body>
</html>
