<html>
<head>
	<title>Create a new event</title>
</head>
<body>
<h1>New event</h1>
<%= form_for @event do |event_form| %>

Name: <%= event_form.text_field :name %><br />
Date: <%= event_form.date_field :date %><br />
<%= event_form.submit "Create event", class: 'btn btn-primary' %>
<% end %>
</body>
</html>
