<div class="container">
<h1>Edit event</h1>
<%= form_for @event, url: {action: "update"} do |event_form| %>

Name: <%= event_form.text_field :name, class: 'form-control' %><br />
Date: <%= event_form.date_field :date, class: 'form-control' %><br />
<%= event_form.submit :submit, class: 'btn btn-primary' %>
<% end %>
</div>
