# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: f393d13a7a1a4f63baab56444dd39f38364424894b6cb78668d4aeeccd71243b198c29d95d67530f143ed0bdfa747726c5b4e0811d07dc518e5b2608533d1ae4

test:
  secret_key_base: d8ce303cc13e179bfbc76cd182c3533979284bfdae213696ba63644e16b9ac7d26bd51161f68199d2213ca3486690774d79e94af23c1672bfadd558fd750a194

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>

